TA2_images

# Ignore the "practica" folder but only in the root directory
/practica/

conductor

captura.png

.idea

gradle
settings.gradle.kts
build.gradle.kts
gradle-wrapper.properties
gradlew
gradlew.bat
gradle.properties

mipmap-anydpi
mipmap-hdpi
mipmap-mdpi
mipmap-xhdpi
mipmap-xxhdpi
mipmap-xxxhdpi

test
androidTest
